@font-face {
  font-family: BiauKaiTC-Regular;
  font-style: normal;
  font-weight: 400;
  src: local('BiauKaiTC Regular'), local('BiauKaiTC-Regular'), url(/Users/highker/Library/Fonts/KAIU.TTF) format("opentype"), url(./KAIU.TTF) format("opentype");;
}
@font-face{
  font-family: jf-jinxuanlatte-2;
  font-style: normal;
  font-weight: 400;
  src: url(/Users/highker/Library/Fonts/jf-jinxuanlatte-2.1-regular.otf) format("opentype"),url(./jf-jinxuanlatte-2.1-regular.otf) format("opentype"), local('jf-jinxuanlatte-2.1-Regular');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular');
}
p {font-family: 'BiauKaiTC Regular', 'BiauKaiTC-Regular','標楷體', 'Songti SC', serif;}

body { font: 30px ;
font-size: 150%;
	font-family: 'BiauKaiTC Regular','標楷體', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'jf-jinxuanlatte-2','BiauKaiTC Regular','標楷體', 'Palatino Linotype', 'Book Antiqua', Palatino, 'STHeiti', 'SimHei', 'Microsoft YaHei';
  font-weight: normal;
}
a{
  color:lightblue;
  font: Arial;
}
.remark-code, .remark-inline-code { font-family: 'jf-jinxuanlatte-2','Source Code Pro', 'Lucida Console', Monaco, monospace; }

.red { color: red; }
.bb{ color: #6495ED;}
.blue{color: blue;}
.y {background-color: yellow;}
.block{
  background-color: lightblue;	
  width: 100px;
  block-size: 200px;
  font-size: 300%;
  font-family: BiauKaiTC-Regular;
}
.biaokai{font-family: BiauKaiTC-Regular;}
.pic{width: auto;
max-height: 100%;}
.pic2{max-height: 100%;  
    max-width: 100%; 
    width: 50%;
    height: 50%; 
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;}
.pic3{
  float: right;
  width: 50%;
}
.bold{ border: 3px solid black;
padding: 20px;}
.f{font: 200%/140% BiauKaiTC Regular, BiauKaiTC-Regular;}
.b{font: 160%/140%  Arial, Helvetica, sans-serif;}
.b2{font: 160%/140%  BiauKaiTC Regular, BiauKaiTC-Regular,'標楷體';}
.b3{font: 140%/120%  BiauKaiTC Regular, BiauKaiTC-Regular,'標楷體';}
.b4{font: 120%/120%  BiauKaiTC Regular, BiauKaiTC-Regular,'標楷體',Arial, Helvetica, sans-serif;}
.j{  text-align:justify;}
.be{font-family:  Arial, Helvetica, sans-serif;
font: Arial, Helvetica, sans-serif;}

.small{float: left;
  width:90%;}
.pic4{
  float: right;
  width: 80%;
}
.pull-left2 {
  float: left;
  width: 70%;
}
.pull-right2 {
  float: right;
  width: 30%;
}
.pull-left3 {
  float: left;
  width: 30%;
}
.pull-right3 {
  float: right;
  width: 70%;
}
.ud{text-decoration: underline red;}
.lk{color:lightblue;
  font: Arial;
  font-size:0.7em;
  
}
.jl{ font: 'jf-jinxuanlatte-2';}